<tr>
	<td>7</td>
	<td class="spreadsheet-name">Amanda Cooley</td>
	<td>23.10</td>
	<td>15.63</td>
	<td>29.73</td>
	<td>13.43</td>
	<td>17.06</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
</tr>
<tr>
	<td>2</td>
	<td class="spreadsheet-name">Brennan Paul</td>
	<td>21.28</td>
	<td>17.80</td>
	<td>25.85</td>
	<td>33.71</td>
	<td>14.01</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
</tr>
<tr>
	<td>10</td>
	<td class="spreadsheet-name">Bryan Newbigging</td>
	<td>23.10</td>
	<td>15.63</td>
	<td>29.73</td>
	<td>13.43</td>
	<td>17.06</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
</tr>
<tr>
	<td>3</td>
	<td class="spreadsheet-name">David Broberg</td>
	<td>23.10</td>
	<td>15.63</td>
	<td>29.73</td>
	<td>13.43</td>
	<td>17.06</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
</tr>
<tr>
	<td>8</td>
	<td class="spreadsheet-name">Emma Sim</td>
	<td>23.10</td>
	<td>15.63</td>
	<td>29.73</td>
	<td>13.43</td>
	<td>17.06</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
</tr>
<tr>
	<td>1</td>
	<td class="spreadsheet-name">G. Scott Johnston</td>
	<td>23.10</td>
	<td>15.63</td>
	<td>29.73</td>
	<td>13.43</td>
	<td>17.06</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
</tr>
<tr>
	<td>5</td>
	<td class="spreadsheet-name">Mike Jones</td>
	<td>23.10</td>
	<td>15.63</td>
	<td>29.73</td>
	<td>13.43</td>
	<td>17.06</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
</tr>
<tr>
	<td>9</td>
	<td class="spreadsheet-name">Nolan Paul</td>
	<td>23.10</td>
	<td>15.63</td>
	<td>29.73</td>
	<td>13.43</td>
	<td>17.06</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
</tr>
<tr>
	<td>6</td>
	<td class="spreadsheet-name">Stephen Chiasson</td>
	<td>23.10</td>
	<td>15.63</td>
	<td>29.73</td>
	<td>13.43</td>
	<td>17.06</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
</tr>
<tr>
	<td>4</td>
	<td class="spreadsheet-name">Tyler Travis</td>
	<td>23.10</td>
	<td>15.63</td>
	<td>29.73</td>
	<td>13.43</td>
	<td>17.06</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
</tr>
