/*----- Spreadsheet -----*/
.spreadsheet {
	text-align:center;
	width:100%;
	background:#f6f6f6;
}
table, td, th {
	border:1px solid #c0c0c0;
	border-collapse: collapse;
}
	

	/*----- Header -----*/
	.spreadsheet-header {}

	/*----- Name column -----*/
	.spreadsheet-name {
		font-weight:bold;
		text-align:left;
		white-space:nowrap;
	}

