/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
	margin:2px 0px;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links {
        display:inline;
        clear:both;
        content:'';
	}
 
    .tab-links li {
        margin:0px 2px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:4px 4px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#f0f0f0;
            font-size:11px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#dadada;
        color:#4c4c4c;
    }

	li.first {
		margin-left:30px;
	}
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:5px;
        border-radius:2px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#dadada;
		margin:6px 0px;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }

